  <div class="login-page">
  <div class="form">
    <h5 align="center">Seleccione un medio de inicio de sesión</h5>
    <br>
        <div class="panel-footer">
           <div class="input-group" style="margin: 0 auto;
           display: inline-block;">
          <button type="button" class="btn btn-success" (click)="ingresar('google')">
            Google
          </button>    
          <button type="button" class="btn btn-info" (click)="ingresar('google')">
              Twitter
            </button>    
          </div>
        </div>
  </div>
</div>

